<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ols_admin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/resources/sweetalert2.css}">
</head>
<body>
<div th:include="header"></div>



</body>
<script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery/jquery.cookie.min.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.js}"></script>
</html>