*{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

html, body{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

span{
    text-align: center;
    vertical-align: middle;
}

.row{
    padding-top: 5%;
}

/*h2{*/
    /*font-size: 20px;*/
/*}*/

.swal2-popup .swal2-title {
    font-size: 24px;
    font-weight: 300;
}
.checkbox-wrap{
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 30%;
    height: 40%;
    background-color: white;
}
.checkbox-wrap input[type="checkbox"]{
    /* width: 40px; */
    /* height: 40px; */
    /* -webkit-border-radius: 50%; */
    display: none;
}
.checkbox-wrap input[type="checkbox"]+label {
    display: inline-block;
    /*width: 48%;*/
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 10%;
    text-align: left;
    -webkit-box-sizing: border-box;
}

.checkbox-wrap label::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #EEE;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    margin-right: 5px;
    -webkit-box-sizing:border-box;
    -webkit-transition:background ease-in .5s
}

.checkbox-wrap input[type="checkbox"]:checked+label::before{
    background-color: rgb(53, 183, 111);
    border: 5px #EEEEEE solid;
}