#title{
    font-size: 24px;
    text-align: center;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bp-element > li {
    cursor: pointer;
}

.trColor{
    text-align: center;
}

